.item-card-i{
  text-align: center;
  justify-content: center;
  margin: 25px 140px;
  padding: 10px;
  width: 320px;
  border-radius: 4px;
  background-color: #fff;
  transition: all ease-in 0.25s;
}

.item-card_header-i{
  font-size: 2rem;
}

.item-card_header-i h2{
  padding: 16px 2px;
  margin: 0px;
}

.item-card_img-i{
  width: 320px;
  height: 260px;
}

.item-card_img-i img{
  width: 260px;
  object-fit: cover;
}

.item-card-i:hover {
  transform: translate(0px, -5px);
  box-shadow: 5px 5px 9px 0px #4d679b,
    -3px -3px 18px 0px #4d679b;
}

.item-card_detail-i{
  height: 120px;
  padding: 12px 8px;
}

.btn-handle:hover{
  background-color: #4d679b;
  color: white;
}

.btn-agregar:hover{
  color: white;
}