*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navBar {
  background-color: #4d679b;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  color: white;
  padding: 10px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

a {
  margin: 10px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  
}

h1 {
  font-style: italic;
  padding-top: 3rem;
  color: #4d679b;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
